*.jld
*.nc
*.m~
*.jl~
*.png
*.jpg
*.jpeg
*.JPG
*.mov
*.pdf
*.csv
*.xlsx
*.mat
*.npy
*.o
*.so
*.out
*.dylib
*pathdef.m
*pptx
*ppt
*asv
*.Rdata
*.Rhistory
*DS_Store*
.DS_Store
CODE/fish-offline
Rfeisty
